<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta chaset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>出勤登録</title>
  <link rel="stylesheet" href="../static/css/goingRegister.css">
</head>

<body>
  <div class="wapper">
    <div class="clearfix">
      <div class="container">
        <h1>出勤登録</h1><img src="../img/record.jpg">
      </div>
    </div>

    <div class="header">
      <div class="top-line"></div>
      <div class="bottom-line"></div>
    </div>

    <form th:action="@{feature/goingRegister/create}" th:object="${GoingRegisterRequest}" th:method="post">
    </form>

    <div class="Form">
      <div class="Form-Item">
        <label class="Form-Item-Label">◇勤怠ID</label>
        <div class="attendance_id">
          <input type="text" disabled th:field="*{attendance_id}" class="Form-Item-Input" placeholder="勤怠IDは自動で採番致します">
        </div>
      </div>

      <div class="Form-Item">
        <label class="Form-Item-Label">◇ユーザーID</label>
        <div class="user_id">
          <input type="text" disabled th:field="*{user_id}" class="Form-Item-Input">
        </div>
      </div>

      <div class="Form-Item">
        <label class="Form-Item-Label">◇ステータス <span class="Form-Item-Label-Required">*</span></label>
        <div class="status">
          <select name="status" th:field="*{status}">
            <option value="出勤">出勤</option>
            <option value="遅刻">遅刻</option>
            <option value="欠勤">欠勤</option>
            <option value="代休">代休</option>
            <option value="休日">休日</option>
            <option value="有給">有給</option>
            <option value="その他">その他</option>
          </select>
        </div>
      </div>

      <div class="Form-Item">
        <label class="Form-Item-Label">◇出勤日 <span class="Form-Item-Label-Required">*</span></label>
        <div class="leaving_date">
          <input type="date" th:field="*{leaving_date}" class="Form-Item-Input">
        </div>
      </div>

      <div class="Form-Item">
        <label class="Form-Item-Label">◇出勤時間 <span class="Form-Item-Label-Required">*</span></label>
        <div class="leaving_time">
          <input type="time" value="10:00" th:field="*{going_time}" class="Form-Item-Input">
        </div>
      </div>

      <div class="Form-Item">
        <label class="Form-Item-Label">◇備考</label>
        <div class="remarks">
          <textarea class="textarea" th:field="*{remarks}"></textarea>
        </div>
      </div>
    </div>

    <div class="footer">
      <a th:href="@{feature/myPage}" class="back_button"> <button>戻る</button></a>
      <a th:href="@{feature/attendanceLIst/list}" class="registration_button
      "> <button>登録</button></a>
    </div>

  </div>
</body>

</html>