<!DOCTYPE html>
<html>
    <head>
        <meta chaset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>ユーザー一覧</title>
        <link rel="stylesheet" href="../static/css/userList.css">
    </head>
    <body>
        <div class="wrapper">
        <div class="clearfix">   
        <div class="container">
            <h1>ユーザー一覧</h1><img src="../img/UserImg.png" alt="レコード">
        </div>
    </div> 
        <div class="header">
            <div class="top-line"></div>
            <div class="bottom-line"></div>
        </div>
        <table  class="table table=striped">
            <thead>
                <tr class="list">
                    <th class="ID">ID</th>
                    <th class="name">名前</th>
                    <th class="furigana">フリガナ</th>
                    <th class="mail">メールアドレス</th>
                    <th class="pass">パスワード</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="UserList : ${UserList}" th:object="${UserList}" class="align-middle">
                    <td class="ID" th:text="*{user_id}"></td>
                    <td class="name" th:text="*{name}"></td>
                    <td class="furigana" th:text="*{furigana}"></td>
                    <td class="mail" th:text="*{mail}"></td>
                    <td class="pass" th:text="*{password}"></td>
                </tr>
            </tbody>
        </table>
        <div class="footer-end">
            <a th:href="@{feature/myPage}" class="btn"> <button>戻る</button></a>
        </div> 
     </div>   
    </body>
</html>