body {
    width: 1240px;
    margin: auto;
    min-height: 100%;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
    height: 20px;
}

.wrapper {
    width: 1024px;
    margin: auto; /* 追加 */
    min-height: 100%;
}

div.container {
    background-color: white;
    height: 40px;
    float: left;
}

h1 {
    font-size: 40px;
    margin-bottom: 0%;
    float: left;
    font-family: serif;
}

img {
    width: 45px;
    height: 45px;
    float: left;
    margin-top: 33px;
    margin-left: 7px;
}

div.header {
    width: 1240px;
    height: 30px;
    margin-top: 20px;
}

.top-line {
    background-color: #F6D720;
    height: 20px;
}

.bottom-line {
    background-color: #C00000;
    height: 10px;
}

table {
    margin-top: 20px;
    width: 1240px;
    border-collapse: collapse;
}

tr.list {
    font-family: serif;
    text-align: left;
    vertical-align: bottom;
    background-color: black;
    color: white;
    height: 50px;
    border: 0px none;
}

th.attendance_id {
    width: 100px;
    font-size: 20px;
}

th.user_id {
    width: 150px;
    font-size: 20px;
}

th.status {
    width: 150px;
    font-size: 20px;
}

th.going_date {
    width: 100px;
    font-size: 20px;
}

th.going_time {
    width: 100px;
    font-size: 20px;
}

th.leaving_date {
    width: 100px;
    font-size: 20px;
}

th.leaving_time {
    width: 100px;
    font-size: 20px;
}

th.hours_worked {
    width: 100px;
    font-size: 20px;
}

th.break_time {
    width: 100px;
    font-size: 20px;
}

th.correction {
    width: 100px;
    font-size: 20px;
}

th.remarks {
    width: 200px;
    font-size: 20px;
}

tr.align-middle {
    height: 40px;
    background: #F2F2F2;
    margin-top: 5px;
}

tr.tr:nth-child(odd).align-middle {
    background: #FFFFFF;
}

td.attendance_id {
    border-right: 1px dashed black;
}

td.user_id {
    border-right: 1px dashed black;
}

td.status {
    border-right: 1px dashed black;
}

td.going_date {
    border-right: 1px dashed black;
}

td.going_time {
    border-right: 1px dashed black;
}

td.leaving_date {
    border-right: 1px dashed black;
}

td.leaving_time {
    border-right: 1px dashed black;
}

td.hours_worked {
    border-right: 1px dashed black;
}

td.break_time {
    border-right: 1px dashed black;
}

td.correction {
    border-right: 1px dashed black;
}

td.remarks {
    border-right: 1px dashed black;
}

div.footer {
    text-align: center;
    height: 50px;
    font-size: 30px;
    margin-top: 20px;
}

a.back_button {
    color: azure;
}

button {
    background-color: #595959;
    color: white;
    width: 100px;
    height: 40px;
    font-size: 20px;
    border-radius: 100px;
    border-width: 5px;
    margin-left: 40px; 
}
