body{
    width: 1240px;
    margin: auto;
    min-height: 100%;

}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
    height: 20px;
}

.wapper{
    width: 1024px;
    
}

div.container{
    background-color: white;
    height: 40px;
    float: left;
}

h1{
    font-size: 40px;;
    margin-bottom: 0%;
    float: left;
    font-family: serif;

}

img{
    width: 45px;
    height: 45px;
    float: left;
    margin-top: 33px;
    margin-left: 7px;
}

div.header{
    width: 1240px;
    height: 30px;
    margin-top: 20px;
}

.top-line{
    background-color: #F6D720;
    height: 20px;
    

}

.bottom-line{
    background-color: #C00000;
    height: 10px;
}

div.Form{
    margin-top: 50px;
    margin-left: 400px;
}

div.Form-Item{
    margin-top: 15px;
}

div.footer{
    margin-left: 450px;
    margin-top: 30px;
}
