
body{
    width: 1240px;
    margin: auto;
    min-height: 100%;

}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
    height: 20px;
}

.wapper{
    width: 1024px;
    
}

div.container{
    background-color: white;
    height: 40px;
    float: left;
}

h1{
    font-size: 40px;;
    margin-bottom: 0%;
    float: left;
    font-family: serif;

}

img{
    width: 45px;
    height: 45px;
    float: left;
    margin-top: 33px;
    margin-left: 7px;
}

div.header{
    width: 1240px;
    height: 30px;
    margin-top: 20px;
}

.top-line{
    background-color: #F6D720;
    height: 20px;
    

}

.bottom-line{
    background-color: #C00000;
    height: 10px;
}

table{
    margin-top: 20px;
    width: 1240px;
    border-collapse:collapse;

}

tr.list{
    font-family: serif;
    text-align: left;
    vertical-align: bottom;
    background-color: black;
    color: white; 
    height: 50px;
    border: 0px none;
    
}

th.ID{
    width: 70px;
    font-size: 20px;

}

th.name{
    width: 150px;
    font-size: 20px;

}

th.furigana{
    width: 170px;
    font-size: 20px;

}

th.mail{
    width: 500px;
    font-size: 20px;

}
th.pass{
    width: 400px;
    font-size: 20px;
}

tr.align-middle{
    height: 40px;
    background-color: #F2F2F2;
    margin-top: 5px;

}

td.ID{
    border-right: 1px dashed black;
    

}

td.name{
    border-right: 1px dashed black;

}

td.furigana{
    border-right: 1px dashed black;

}

td.mail{
    border-right: 1px dashed black;

}

div.footer-end{
    text-align: center;
    height: 50px;
    font-size: 30px;
    margin-top: 20px;
    
}

a.btn{
    color:azure; 

}

button{
    background-color: #595959;
    color: white;
    width: 100px;
    height: 40px;
    font-size: 20px;
    border-radius:10px;
}

